doctype html
html(lang='en')
    include ../components/head.pug
    block head
    body
        main.container.container-main.lifted
            include ../components/nav.pug
            block content
            include ../components/scripts.pug
        block scripts